@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");
html {
  width: 100%;
  overflow-x: clip;
}

body {
  background-color: #191919;
  color: #fff;
  font-family: "Overpass", sans-serif;
  overflow-x: hidden !important;
}

.searchInput {
  position: relative;
  bottom: 130px;
  font-size: 21px;
}

/* Header */

.headerBox {
  background-color: #000000;

  background: repeating-linear-gradient(
    45deg,
    #3ce16e3d,
    #3ce16e60 8.5px,
    #19191954 8.5px,
    #19191946 42.5px
  );
  margin-top: -30px;
  height: 180px;
  padding-top: 60px;
  text-align: center;
  margin-bottom: 250px;
}

.headerBox h1 {
  color: white;
  text-transform: uppercase;
  font-size: 45px;
  letter-spacing: 1.5px;
  font-weight: bolder;
}

.headerBox h2 {
  font: 35px;
  position: relative;
  top: -14px;
}

.headerBox h3 {
  font-size: 17px;
  position: relative;
  top: -19px;
}

.List {
  display: flex;
  align-items: center;
  width: 50rem;
  height: 8rem;
  margin: 0rem auto;
  border: 0.1rem solid #3ce16e;
  padding: 0.8rem;
  justify-content: space-between;
}

.List-header {
  display: flex;
  align-items: center;
}

.List-header h2 {
  color: white;
}

.List-img {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  margin-right: 0.9rem;
}

.List-note {
  width: 30%;
  text-align: left;
  font-weight: 500;
}

.List-note:hover {
  font-size: 17px;
  cursor: pointer;
}

.AddToList {
  position: relative;
  bottom: 34px;
  display: flex;
  flex-direction: column;
  width: 26rem;
  margin: 2rem auto;
}

.AddToList-input {
  padding: 0.3rem;
  font-size: 1.3rem;
  margin: 0.3rem 0rem;
  border: 0.1rem solid #31be5c;
}

.AddToList-btn {
  padding: 0.4rem;
  cursor: pointer;
  background-color: #3ce16e;
  font-weight: 600;
  color: black;
  border: solid 3px black;
}

.btn {
  position: relative;
  bottom: 90px;
  left: 600px;
  background-color: #3ce16e !important;
  color: black !important;
  margin: auto !important;
}

.btn-primary {
  border-color: transparent !important;
  margin: auto !important;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-left: 250px;
}

.flex-child:nth-child(2) {
  margin-right: 250px;
}
